/* Файл очищен от ограничений Vite */

.page-container {
  width: calc(100% - 40px);
  max-width: 1200px;
  margin: 40px auto;
  padding: 0;
}

.app-layout {
  background-color: #1a1a1e; /* Насыщенный темно-серый, чуть светлее черного */
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;    /* Чтобы контент шел друг за другом сверху вниз */
  box-sizing: border-box;
}